.iezal-home {
	background: linear-gradient(
		254.07deg,
		#a0ec98 -176.92%,
		rgba(247, 255, 246, 0) 116.36%
	);
}

.iezal-home-sec-1 {
	display: flex;

	height: 713.36px;
	padding-top: 10rem;
	justify-content: space-around;
}
.iezal-home-sec-1 > div {
	width: 40%;
}

.btn-holder button {
	padding: 10px 20px;
	text-transform: capitalize;
	font-size: 22px;
	margin: 10px;
}
.iezal-home > div > div > img {
	width: 100%;
	height: auto;
	margin-top: 20px;
}
.i-h-s-1-1 {
	margin-top: 8rem;
}
.i-h-s-1-1 > h1 {
	font-size: 42px;
	font-weight: bold;
	color: rgba(39, 39, 39, 0.7);
}
.i-h-s-1-1 > h1 > span {
	color: #0062e7;
}
.i-h-s-1-1 > .home-link1 > Button {
	font-size: 22px;
	margin-top: 30px;
	margin-right: 40px;
	text-transform: capitalize;
	padding: 10px 20px;
}
.home-link1 {
	text-decoration: none;
	color: white;
}
.iezal-home-sec-2 {
	display: flex;
	padding-top: 30px;
	justify-content: center;
}
.iezal-home-sec-2 > div {
	width: 40%;
}
.iezal-home-sec-2 > div > h1 {
	margin-left: auto;
}

.iezal-home-sec-3 {
	margin-top: 3rem;
}
.iezal-home-sec-4 {
	margin-top: -100px;
	height: 713.36px;
}
.iezal-home-sec-4 > div > h1 {
	margin-top: 5rem;
}

/*  Tiles  */
.i-home-tiles {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 100px;
	padding-bottom: 100px;
}
.i-home-tiles > div {
	margin: auto 50px;
	margin-top: 30px;
	margin-top: 30px;
	background: #ffffff;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
	border-radius: 10px;
	padding: 20px 30px;
	width: 369px;
}
.i-home-tiles > div > div {
	margin-top: 30px;
	padding: 10px;
}
.i-home-tiles > div > div > h2 {
	color: rgba(39, 39, 39, 0.7);
	font-weight: bold;
	font-size: 28px;
}
.i-home-tiles > div > div > p {
	font-size: 17px;
	margin-top: 20px;
	color: #000000;
}
.i-home-tiles > div > div > p > span {
	color: #0062e7;
	font-weight: bold;
}

/*Adevertisement   section*/
.i-adv {
	display: flex;
	width: 80%;
	margin: 100px auto 0px;
	padding: 100px 130px;
	background: #ffffff;
	box-shadow: 0px 0px 34px -5px rgba(0, 0, 0, 0.04);
	border-radius: 10px;
}
.i-adv > div {
	width: 45%;
	margin-left: 60px;
}
.i-adv > div > h2 {
	font-weight: bold;
	font-size: 40px;
	color: rgba(39, 39, 39, 0.7);
}
.home-feedback {
	padding-top: 100px;
}
.home-feedback > h1 {
	text-align: center;
	color: rgba(39, 39, 39, 0.7);
	font-weight: bold;
	font-size: 35px;
	margin-bottom: 50px;
}
.caro-d {
	width: 40%;
	margin: auto;
	padding-bottom: 100px;
}
.caro-d-sub {
	background: #ffffff;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
	border-radius: 10px;
	padding: 30px 50px;
	width: 100%;
}
.caro-d-sub > h2 {
	text-align: center;
	color: rgba(39, 39, 39, 0.7);
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 20px;
}
.caro-d-sub > p {
	color: rgba(39, 39, 39, 0.7);
	font-size: 20px;
}
.caro-d-sub > h4,
.caro-d-sub > h5 {
	font-size: 15px;
}

@media (max-width: 1200px) {
	.i-h-s-1-1 {
		margin-top: 3rem;
		
	}
	/* .i-h-s-1-1 > h1 {
		font-size: 32px;
		margin-left: 10px;
		
	} */
	.iezal-home-sec-1 > div,
	.iezal-home-sec-2 > div {
		width: 45%;
	}
	.i-home-tiles > div {
		width: 290px;
		padding: 20px 10px;
		margin: auto 15px;
	}
	.i-adv {
		padding: 100px 35px;
	}
	.i-adv > img {
		width: 47%;
		height: auto;
	}
	.i-adv > div > h2 {
		font-size: 33px;
	}
	.i-adv > div > img {
		width: 50% !important;
		height: auto;
	}
	.caro-d {
		width: 50%;
	}
	.caro-d-sub {
		padding: 30px;
	}
}

@media (max-width: 980px) {
	.i-h-s-1-1 > .home-link1 > Button {
		font-size: 17px;
		margin-right: 20px;
	}
	.i-h-s-1-1 > h1 {
		font-size: 25px;
		margin-left: -10px;
	}
	.iezal-home > div > div > h1 {
		margin-left: 10
	px
	;
	}
	.iezal-home-sec-1 {
		height: 520px;
		padding-top: 9rem;
	}
	.iezal-home-sec-4 {
		height: 520px;
		margin-top: 0px;
		padding-top: 0px;
	}
	.i-home-tiles {
		margin-top: 30px;
		flex-wrap: initial;
	}
	.i-home-tiles > div > div > h2 {
		font-size: 20px;
	}
	.i-home-tiles > div > div > p {
		font-size: 15px;
	}
	.i-adv > div > h2 {
		font-size: 20px;
	}
	.i-adv > div > img {
		width: 65% !important;
	}
	.i-adv {
		padding: 65px 35px;
	}
	.caro-d-sub > p {
		font-size: 17px;
	}
	.caro-d-sub > h4,
	.caro-d-sub > h5 {
		font-size: 13px;
		color: grey;
	}
}

@media (max-width: 700px) {
	.iezal-home-sec-1 {
		flex-direction: column;
		height: auto;
	}
	.iezal-home-sec-1 > div,
	.iezal-home-sec-2 > div {
		width: 78%;
		margin-left: 2px;
		margin-right: auto;
	}
	.i-h-s-1-1 > .home-link1 {
		display: flex;
		justify-content: center;
	}
	.home-l-1-1 {
		display: initial !important;
		margin-left: 16px;
	}
	.home1 {
		margin-top: -50px;
		margin-bottom: 10px;
	}
	.iezal-home > div > div > h1 {
		margin-left: 20px;
	}
	.iezal-home-sec-2 {
		flex-direction: column-reverse;
	}
	.home-2 {
		margin-top: 40px;
	}
	.iezal-home-sec-3 {
		padding-top: 2rem;
	}
	.iezal-home-sec-4 {
		padding-top: 5rem;
		height: auto;
	}
	.iezal-home-sec-4 > .i-h-s-1-1 {
		margin-top: -10px;
	}
	.i-home-tiles {
		flex-wrap: wrap;
		margin-top: 6rem;
		margin-right: 48px;
	}
	.i-home-tiles > div > div > h2 {
		font-size: 25px;
	}
	.i-home-tiles > div > div > p {
		font-size: 17px;
	}
	.i-home-tiles > div {
		margin: 25px 15px;
	}
	.i-adv {
		width: 90%;
		margin: 15px auto 0px;
		flex-direction: column;
		padding: 30px;
	}
	.i-adv > img {
		width: 85%;
		height: auto;
		margin: auto;
	}
	.i-adv > div {
		width: 80%;
		margin-top: 20px;
		margin-left: 30px;
	}
	.home-feedback > h1 {
		font-size: 23px;
		margin-left: -44px
		;
	}
	.caro-d {
		width: 85%;
		margin-left: 16px;
	}
}

@media (max-width: 380px) {
	.i-h-s-1-1 > h1 {
		font-size: 20px;
	}
	.i-h-s-1-1 > .home-link1 > Button {
		font-size: 14px;
		
	}
	.btn-holder button {
		font-size: 14px;
		margin: 5px;
		
	}
	.btn-holder {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 340px) {
	.i-h-s-1-1 > .home-link1 > Button {
		margin-left: 5px;
		margin-right: 5px;
	}
	.home-l-1-1 {
		margin-left: 0px;
		
	}
}
