.buy-head{
   color: rgb(48, 47, 47);
}

.buy-head>h1{
    font-size: 30px;
    font-weight: 400;
}

.buy-right{
    max-width: 65%;
    flex-grow: 1;
}
.buy-course-main{
    border: 1px solid gainsboro;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.buy-course-main>div>select, .buy-course-main>select{
    margin-top: 30px;
    margin-left: 20px;
    padding: 6px 20px;
    font-size: 20px;
    color: rgb(108, 107, 107);
    border-color: rgb(83, 216, 83);
    border-width: 1.6px;
    width: 17%;
    margin-bottom: 20px;
}
.buy-subject{
    display: flex;
    flex-wrap: wrap;
    
}
.pay1-head{
    justify-content: flex-start !important;
}
.total-pay>Button{
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    background-color: #82e077;
    padding: 10px 20px;
    font-size: 15px;
}

.total-pay>Button:hover{
    color: green;
    border: 1px solid green;
    background-color: white;
}

.total-pay{
    margin-top: 20px;
    text-align: center;
}
.total-pay>h2{
    font-size: 20px;
    font-weight: 400;
}



@media (max-width : 1440px) {
    .buy-course-main>div>select, .buy-course-main>select{
        width: 30%;
    }
}

@media (max-width : 768px) {
    .buy-course-main>div>select, .buy-course-main>select{
        width: 40%;
    }
}


@media (max-width : 426px) {
    .buy-right{
        max-width: 90%;
        margin: auto;
    }
    .buy-course-main>div>select, .buy-course-main>select{
        width: 53%;
        margin-bottom: 0px;
        font-size: 15px;
    }
}